:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ul {
    padding-left: 2rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul ul {
    margin-bottom: 0;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

thead,
tbody,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
    padding: 0;
}

::-webkit-inner-spin-button {
    height: auto;
}

::-webkit-search-decoration {
    -webkit--webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::file-selector-button {
    font: inherit;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit--webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.col-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333333%;
}

.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}

.table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table > tbody {
    vertical-align: inherit;
}

.table > thead {
    vertical-align: bottom;
}

.table > :not(:first-child) {
    border-top: 2px solid currentColor;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
}

.w-100 {
    width: 100% !important;
}

.gap-1 {
    gap: 0.25rem !important;
}

.gap-2 {
    gap: 0.5rem !important;
}

.align-items-start {
    align-items: flex-start !important;
}

.align-items-baseline {
    align-items: baseline !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.lh-sm {
    line-height: 1.25 !important;
}

.o_content header {
    padding: 10px;
    background-color: #d8dce2;
    margin-bottom: 10px;
}

.o_content header .o_header_font {
    font-size: 13px;
}

.o_content .o_table {
    width: 100%;
    font-family: 'Verdana', sans-serif;
    font-size: 0.8rem;
    margin: 0 0 24px;
    padding: 24px;
    direction: ltr;
}

.o_content .o_table > :not(caption) td, .o_content .o_table > :not(caption) th {
    padding: 0.25rem 0.75rem;
}

.o_content .o_table thead,
.o_content .o_table tbody,
.o_content .o_table tr,
.o_content .o_table td,
.o_content .o_table th {
    border-style: none;
}

.o_content .o_table > thead {
    white-space: nowrap;
}

.o_content .o_table > thead tr > th:first-child {
    width: 100%;
}

.o_content .o_table > thead > tr:not(:last-child) th:not(:first-child) {
    border: 1px solid #d8dadd;
    text-align: center;
}

.o_content .o_table > tbody {
    white-space: nowrap;
}

.o_content .o_table > tbody tr {
    height: 20px;
    padding: 2px;
    vertical-align: center;
}

.o_content .o_table > tbody .o_line_level_1 {
    border-bottom: 0.5px solid #d8dadd;
}

.o_content .o_table > tbody .o_line_level_1 .o_line_name_level {
    padding-left: 16px;
}

.o_content .o_table > tbody .o_line_level_3 {
    border-bottom: 0.5px solid #d8dadd;
}

.o_content .o_table > tbody .o_line_level_3 .o_line_name_level {
    padding-left: 32px;
}

.o_content .o_table > tbody .o_cell_td > .o_line_cell_value_number {
    display: block;
    text-align: right;
}

.o_fw_bold {
    font-weight: bold;
}

.o_text_muted {
    color: #777;
}

.o_muted {
    color: #d8dadd;
}

.o_title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.o_overflow_value {
    display: inline-block;
    width: 350px;
    white-space: normal !important;
    overflow-wrap: break-word;
}

.o_footnote {
    list-style: none;
}
