Package: paper-muncher
Description: Munch the web into crisp documents
Version: 0.7.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Odoo S.A. <info@odoo.com>
Depends: libseccomp2, libunwind
