@namespace "http://www.w3.org/1999/xhtml";

/* https://html.spec.whatwg.org/multipage/rendering.html#flow-content-3 */
form {
    margin-block-end: 1em;
}

/* https://html.spec.whatwg.org/multipage/rendering.html#lists */
li {
    list-style-position: inside;
}

li :is(dir, menu, ol, ul) {
    list-style-position: outside;
}

:is(dir, menu, ol, ul) :is(dir, menu, ol, ul, li) {
    list-style-position: unset;
}

/* https://html.spec.whatwg.org/multipage/rendering.html#tables-2 */
table {
    font-weight: initial;
    font-style: initial;
    font-variant: initial;
    font-size: initial;
    line-height: initial;
    white-space: initial;
    text-align: initial;
}

/* https://html.spec.whatwg.org/multipage/rendering.html#form-controls */
input:not([type=image i]), textarea {
    box-sizing: border-box;
}

/* https://html.spec.whatwg.org/multipage/rendering.html#images-3 */
img[align=left i] {
    margin-right: 3px;
}

img[align=right i] {
    margin-left: 3px;
}