/* https://github.blog/changelog/2021-11-24-specify-theme-context-for-images-in-markdown/ */

img[src$="#gh-dark-mode-only"],
img[src$="#dark-mode-only"] {
    display: none;
}

@media (prefers-color-scheme: dark) {

    img[src$="#gh-light-mode-only"],
    img[src$="#light-mode-only"] {
        display: none;
    }

    img[src$="#gh-dark-mode-only"],
    img[src$="#dark-mode-only"] {
        display: revert;
    }

    :root {
        background-color: black;
        color: white;
    }
}
