name: Checks (Darwin)

on: [push, pull_request]

jobs:
  build-all:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Build Environment
        run: ./ck tools setup && ./ck tools doctor

      - name: Build Libraries (Host)
        run: ./ck build

      - name: Test Libraries (Host)
        run: ./ck test
