name: Docs

on:
  push:
    branches: ["main"]

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install CuteKit
        run: |
          pip install git+https://github.com/cute-engineering/cutekit.git@0.8.4
          pip install -r meta/plugins/requirements.txt
          python -m cutekit model install

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v4

      - name: Build with cat
        run: |
          python -m cutekit cat build --theme=doc

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: .cutekit/build/site

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
